In [110]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [111]:
df = pd.read_csv(r'C:\Users\USER\Desktop\pypractice\2018_fut.csv',encoding = 'big5')
df

            交易日期   契約            到期月份(週別)     結算價 交易時段
0       2018/7/2  BRF              201809    2381   一般
1       2018/7/2  BRF              201810  2371.5   一般
2       2018/7/2  BRF              201811    2368   一般
3       2018/7/2  BRF              201812  2348.5   一般
4       2018/7/2  BRF              201906    2265   一般
...          ...  ...                 ...     ...  ...
1398  2018/12/26  BRF  201902/201903            -   一般
1399  2018/12/26  BRF  201902/201903            -   盤後
1400  2018/12/27  BRF  201902/201903            -   一般
1401  2018/12/27  BRF  201903/201904            -   一般
1402  2018/12/28  BRF  201903/201904            -   盤後

[1403 rows x 5 columns]

In [149]:
filter1 = (df['交易時段']!='盤後')
filter2 = (df['到期月份(週別)'].apply(lambda x:len(x)<=6))
df2 = df[(filter1 & filter2)]
df2

            交易日期 到期月份(週別)     結算價 交易時段
0       2018/7/2   201809    2381   一般
1       2018/7/2   201810  2371.5   一般
2       2018/7/2   201811    2368   一般
3       2018/7/2   201812  2348.5   一般
4       2018/7/2   201906    2265   一般
...          ...      ...     ...  ...
1371  2018/12/28   201902    1625   一般
1373  2018/12/28   201903    1646   一般
1375  2018/12/28   201904    1657   一般
1377  2018/12/28   201906  1646.5   一般
1379  2018/12/28   201912  1666.5   一般

[650 rows x 4 columns]

Help on function to_datetime in module pandas.core.tools.datetimes:

to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)
    Convert argument to datetime.

    Parameters
    ----------
    arg : integer, float, string, datetime, list, tuple, 1-d array, Series

        .. versionadded:: 0.18.1

           or DataFrame/dict-like

    errors : {'ignore', 'raise', 'coerce'}, default 'raise'

        - If 'raise', then invalid parsing will raise an exception
        - If 'coerce', then invalid parsing will be set as NaT
        - If 'ignore', then invalid parsing will return the input
    dayfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.
        If True, parses dates with the day first, eg 10/11/12 is parsed as
        2012-11-10.
        Warning: dayfirst=True is not strict, but will prefer to parse
        with day first (this is a known bug, based on dateutil behavior).
    yearfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.

        - If True parses dates with the year first, eg 10/11/12 is parsed as
          2010-11-12.
        - If both dayfirst and yearfirst are True, yearfirst is preceded (same
          as dateutil).

        Warning: yearfirst=True is not strict, but will prefer to parse
        with year first (this is a known bug, based on dateutil behavior).

        .. versionadded:: 0.16.1

    utc : boolean, default None
        Return UTC DatetimeIndex if True (converting any tz-aware
        datetime.datetime objects as well).
    box : boolean, default True

        - If True returns a DatetimeIndex or Index-like object
        - If False returns ndarray of values.

        .. deprecated:: 0.25.0
            Use :meth:`Series.to_numpy` or :meth:`Timestamp.to_datetime64`
            instead to get an ndarray of values or numpy.datetime64,
            respectively.

    format : string, default None
        strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
        all the way up to nanoseconds.
        See strftime documentation for more information on choices:
        https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    exact : boolean, True by default

        - If True, require an exact format match.
        - If False, allow the format to match anywhere in the target string.

    unit : string, default 'ns'
        unit of the arg (D,s,ms,us,ns) denote the unit, which is an
        integer or float number. This will be based off the origin.
        Example, with unit='ms' and origin='unix' (the default), this
        would calculate the number of milliseconds to the unix epoch start.
    infer_datetime_format : boolean, default False
        If True and no `format` is given, attempt to infer the format of the
        datetime strings, and if it can be inferred, switch to a faster
        method of parsing them. In some cases this can increase the parsing
        speed by ~5-10x.
    origin : scalar, default is 'unix'
        Define the reference date. The numeric values would be parsed as number
        of units (defined by `unit`) since this reference date.

        - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
        - If 'julian', unit must be 'D', and origin is set to beginning of
          Julian Calendar. Julian day number 0 is assigned to the day starting
          at noon on January 1, 4713 BC.
        - If Timestamp convertible, origin is set to Timestamp identified by
          origin.

        .. versionadded:: 0.20.0
    cache : boolean, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.23.0

        .. versionchanged:: 0.25.0
            - changed default value from False to True

    Returns
    -------
    ret : datetime if parsing succeeded.
        Return type depends on input:

        - list-like: DatetimeIndex
        - Series: Series of datetime64 dtype
        - scalar: Timestamp

        In case when it is not possible to return designated types (e.g. when
        any element of input is before Timestamp.min or after Timestamp.max)
        return will have datetime.datetime type (or corresponding
        array/Series).

    See Also
    --------
    DataFrame.astype : Cast argument to a specified dtype.
    to_timedelta : Convert argument to timedelta.

    Examples
    --------
    Assembling a datetime from multiple columns of a DataFrame. The keys can be
    common abbreviations like ['year', 'month', 'day', 'minute', 'second',
    'ms', 'us', 'ns']) or plurals of the same

    >>> df = pd.DataFrame({'year': [2015, 2016],
    ...                    'month': [2, 3],
    ...                    'day': [4, 5]})
    >>> pd.to_datetime(df)
    0   2015-02-04
    1   2016-03-05
    dtype: datetime64[ns]

    If a date does not meet the `timestamp limitations
    <http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
    #timeseries-timestamp-limits>`_, passing errors='ignore'
    will return the original input instead of raising any exception.

    Passing errors='coerce' will force an out-of-bounds date to NaT,
    in addition to forcing non-dates (or non-parseable dates) to NaT.

    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
    datetime.datetime(1300, 1, 1, 0, 0)
    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
    NaT

    Passing infer_datetime_format=True can often-times speedup a parsing
    if its not an ISO8601 format exactly, but in a regular format.

    >>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
    >>> s.head()
    0    3/11/2000
    1    3/12/2000
    2    3/13/2000
    3    3/11/2000
    4    3/12/2000
    dtype: object

    >>> %timeit pd.to_datetime(s,infer_datetime_format=True)  # doctest: +SKIP
    100 loops, best of 3: 10.4 ms per loop

    >>> %timeit pd.to_datetime(s,infer_datetime_format=False)  # doctest: +SKIP
    1 loop, best of 3: 471 ms per loop

    Using a unix epoch time

    >>> pd.to_datetime(1490195805, unit='s')
    Timestamp('2017-03-22 15:16:45')
    >>> pd.to_datetime(1490195805433502912, unit='ns')
    Timestamp('2017-03-22 15:16:45.433502912')

    .. warning:: For float arg, precision rounding might happen. To prevent
        unexpected behavior use a fixed-width exact type.

    Using a non-unix epoch origin

    >>> pd.to_datetime([1, 2, 3], unit='D',
    ...                origin=pd.Timestamp('1960-01-01'))
    DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [136]:
df_dt = pd.to_datetime(df2.交易日期,format="%Y/%m/%d")
df2['交易日期'] = df_dt
df2

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           交易日期   契約 到期月份(週別)     結算價 交易時段
0    2018-07-02  BRF   201809    2381   一般
1    2018-07-02  BRF   201810  2371.5   一般
2    2018-07-02  BRF   201811    2368   一般
3    2018-07-02  BRF   201812  2348.5   一般
4    2018-07-02  BRF   201906    2265   一般
...         ...  ...      ...     ...  ...
1371 2018-12-28  BRF   201902    1625   一般
1373 2018-12-28  BRF   201903    1646   一般
1375 2018-12-28  BRF   201904    1657   一般
1377 2018-12-28  BRF   201906  1646.5   一般
1379 2018-12-28  BRF   201912  1666.5   一般

[650 rows x 5 columns]

In [154]:
df.drop(['契約'],axis=1,inplace=True)
df

KeyError: "['契約'] not found in axis"

In [156]:
df2

     交易日期 到期月份(週別)     結算價 交易時段
0       7   201809    2381   一般
1       7   201810  2371.5   一般
2       7   201811    2368   一般
3       7   201812  2348.5   一般
4       7   201906    2265   一般
...   ...      ...     ...  ...
1371   12   201902    1625   一般
1373   12   201903    1646   一般
1375   12   201904    1657   一般
1377   12   201906  1646.5   一般
1379   12   201912  1666.5   一般

[650 rows x 4 columns]

In [157]:
df2['交易日期']=df2['交易日期'].apply(lambda x :x.split('/')[1])

IndexError: list index out of range

In [168]:
df3 = df2.rename(columns = { '交易日期' : '交易月份'}).copy()
df3

     交易月份 到期月份(週別)     結算價 交易時段
0       7   201809    2381   一般
1       7   201810  2371.5   一般
2       7   201811    2368   一般
3       7   201812  2348.5   一般
4       7   201906    2265   一般
...   ...      ...     ...  ...
1371   12   201902    1625   一般
1373   12   201903    1646   一般
1375   12   201904    1657   一般
1377   12   201906  1646.5   一般
1379   12   201912  1666.5   一般

[650 rows x 4 columns]

In [169]:
df3['到期年'] = df3['到期月份(週別)'].apply(lambda x :x[0:4]).copy()
df3['到期月份(週別)']=df3['到期月份(週別)'].apply(lambda x :x[4:6]).copy()

In [195]:
df3['到期月份(週別)']=df3['到期月份(週別)'].astype('int')
df3['交易月份']=df3['交易月份'].astype('int')
df3['結算價']=df3['結算價'].astype('float')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 0 to 1379
Data columns (total 5 columns):
交易月份        650 non-null int32
到期月份(週別)    650 non-null int32
結算價         650 non-null float64
交易時段        650 non-null object
到期年         650 non-null object
dtypes: float64(1), int32(2), object(2)
memory usage: 45.4+ KB

In [196]:
df3

      交易月份  到期月份(週別)     結算價 交易時段   到期年
0        7         9  2381.0   一般  2018
1        7        10  2371.5   一般  2018
2        7        11  2368.0   一般  2018
3        7        12  2348.5   一般  2018
4        7         6  2265.0   一般  2019
...    ...       ...     ...  ...   ...
1371    12         2  1625.0   一般  2019
1373    12         3  1646.0   一般  2019
1375    12         4  1657.0   一般  2019
1377    12         6  1646.5   一般  2019
1379    12        12  1666.5   一般  2019

[650 rows x 5 columns]

In [197]:
filter4 = (df3['交易月份']+2 == df3['到期月份(週別)'])
filter5 = (df3['交易月份']-10 == df3['到期月份(週別)'])
df4 = df3[(filter4 | filter5)]

In [198]:
df4.set_index(np.arange(len(df4['交易月份'])))

     交易月份  到期月份(週別)     結算價 交易時段   到期年
0       7         9  2381.0   一般  2018
1       7         9  2377.0   一般  2018
2       7         9  2381.5   一般  2018
3       7         9  2369.5   一般  2018
4       7         9  2361.0   一般  2018
..    ...       ...     ...  ...   ...
146    12         2  1670.0   一般  2019
147    12         2  1575.0   一般  2019
148    12         2  1546.5   一般  2019
149    12         2  1668.0   一般  2019
150    12         2  1625.0   一般  2019

[151 rows x 5 columns]

In [202]:
df4.groupby(['交易月份','到期月份(週別)']).mean().to_csv('20200830練習成果.csv',encoding='big5')