In [103]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [104]:
df = pd.read_csv(r'C:\Users\s0954\Desktop\BRF_PriceCalculation-master\2018_fut.csv',encoding = 'big5')
df

            交易日期   契約            到期月份(週別)     結算價 交易時段
0       2018/7/2  BRF              201809    2381   一般
1       2018/7/2  BRF              201810  2371.5   一般
2       2018/7/2  BRF              201811    2368   一般
3       2018/7/2  BRF              201812  2348.5   一般
4       2018/7/2  BRF              201906    2265   一般
...          ...  ...                 ...     ...  ...
1398  2018/12/26  BRF  201902/201903            -   一般
1399  2018/12/26  BRF  201902/201903            -   盤後
1400  2018/12/27  BRF  201902/201903            -   一般
1401  2018/12/27  BRF  201903/201904            -   一般
1402  2018/12/28  BRF  201903/201904            -   盤後

[1403 rows x 5 columns]

## 過濾掉盤後交易&到期月分不符格式者

In [105]:
filter1 = (df['交易時段']!='盤後')
filter2 = (df['到期月份(週別)'].apply(lambda x:len(x)<=6))
df2 = df[(filter1 & filter2)].copy()
df2

            交易日期   契約 到期月份(週別)     結算價 交易時段
0       2018/7/2  BRF   201809    2381   一般
1       2018/7/2  BRF   201810  2371.5   一般
2       2018/7/2  BRF   201811    2368   一般
3       2018/7/2  BRF   201812  2348.5   一般
4       2018/7/2  BRF   201906    2265   一般
...          ...  ...      ...     ...  ...
1371  2018/12/28  BRF   201902    1625   一般
1373  2018/12/28  BRF   201903    1646   一般
1375  2018/12/28  BRF   201904    1657   一般
1377  2018/12/28  BRF   201906  1646.5   一般
1379  2018/12/28  BRF   201912  1666.5   一般

[650 rows x 5 columns]

In [106]:
df_dt = pd.to_datetime(df2.交易日期,format="%Y/%m/%d").copy()
df2["交易日期"] = pd.DataFrame({"交易日期":df_dt}).copy()
df2

           交易日期   契約 到期月份(週別)     結算價 交易時段
0    2018-07-02  BRF   201809    2381   一般
1    2018-07-02  BRF   201810  2371.5   一般
2    2018-07-02  BRF   201811    2368   一般
3    2018-07-02  BRF   201812  2348.5   一般
4    2018-07-02  BRF   201906    2265   一般
...         ...  ...      ...     ...  ...
1371 2018-12-28  BRF   201902    1625   一般
1373 2018-12-28  BRF   201903    1646   一般
1375 2018-12-28  BRF   201904    1657   一般
1377 2018-12-28  BRF   201906  1646.5   一般
1379 2018-12-28  BRF   201912  1666.5   一般

[650 rows x 5 columns]

In [107]:
df2 = df2.drop(columns = ['契約'])
df2

           交易日期 到期月份(週別)     結算價 交易時段
0    2018-07-02   201809    2381   一般
1    2018-07-02   201810  2371.5   一般
2    2018-07-02   201811    2368   一般
3    2018-07-02   201812  2348.5   一般
4    2018-07-02   201906    2265   一般
...         ...      ...     ...  ...
1371 2018-12-28   201902    1625   一般
1373 2018-12-28   201903    1646   一般
1375 2018-12-28   201904    1657   一般
1377 2018-12-28   201906  1646.5   一般
1379 2018-12-28   201912  1666.5   一般

[650 rows x 4 columns]

In [108]:
df2['到期月份(週別)']=df2['到期月份(週別)'].astype('str')
df2['交易日期']=df2['交易日期'].astype('str')
df2['結算價']=df2['結算價'].astype('float')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 0 to 1379
Data columns (total 4 columns):
交易日期        650 non-null object
到期月份(週別)    650 non-null object
結算價         650 non-null float64
交易時段        650 non-null object
dtypes: float64(1), object(3)
memory usage: 25.4+ KB

In [109]:
df2['交易日期'] = df2['交易日期'].apply(lambda x:x.split("-")[1]).copy()

In [110]:
df2['交易日期']=df2['交易日期'].astype('int')

In [111]:
df2['到期月份(週別)'] = df2['到期月份(週別)'].apply(lambda x:x[4:6]).copy()

In [114]:
df2

      交易日期 到期月份(週別)     結算價 交易時段
0        7       09  2381.0   一般
1        7       10  2371.5   一般
2        7       11  2368.0   一般
3        7       12  2348.5   一般
4        7       06  2265.0   一般
...    ...      ...     ...  ...
1371    12       02  1625.0   一般
1373    12       03  1646.0   一般
1375    12       04  1657.0   一般
1377    12       06  1646.5   一般
1379    12       12  1666.5   一般

[650 rows x 4 columns]

In [115]:
df2['到期月份(週別)'] = df2['到期月份(週別)'].astype('int')

In [117]:
filter4 = (df2['交易日期']+2 == df2['到期月份(週別)'])
filter5 = (df2['交易日期']-10 == df2['到期月份(週別)'])
df3 = df2[(filter4 | filter5)]

In [118]:
df3

      交易日期  到期月份(週別)     結算價 交易時段
0        7         9  2381.0   一般
5        7         9  2377.0   一般
15       7         9  2381.5   一般
25       7         9  2369.5   一般
35       7         9  2361.0   一般
...    ...       ...     ...  ...
1336    12         2  1670.0   一般
1341    12         2  1575.0   一般
1351    12         2  1546.5   一般
1361    12         2  1668.0   一般
1371    12         2  1625.0   一般

[151 rows x 4 columns]

In [120]:
df3.set_index(np.arange(len(df3['交易日期'])))

     交易日期  到期月份(週別)     結算價 交易時段
0       7         9  2381.0   一般
1       7         9  2377.0   一般
2       7         9  2381.5   一般
3       7         9  2369.5   一般
4       7         9  2361.0   一般
..    ...       ...     ...  ...
146    12         2  1670.0   一般
147    12         2  1575.0   一般
148    12         2  1546.5   一般
149    12         2  1668.0   一般
150    12         2  1625.0   一般

[151 rows x 4 columns]

In [122]:
df3.groupby(['交易日期','到期月份(週別)']).mean().to_csv('20210316練習成果.csv',encoding='big5')